Source: ros-indigo-yumi-launch
Section: misc
Priority: extra
Maintainer: Todor Stoyanov <todor.stoyanov@oru.se>
Build-Depends: debhelper (>= 9.0.0), ros-indigo-catkin, ros-indigo-yumi-description, ros-indigo-yumi-hw, ros-indigo-yumi-moveit-config, ros-indigo-yumi-support
Homepage: 
Standards-Version: 3.9.2

Package: ros-indigo-yumi-launch
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-indigo-yumi-description, ros-indigo-yumi-hw, ros-indigo-yumi-moveit-config, ros-indigo-yumi-support
Description: The yumi_launch package
